# coding: utf-8

{{>partial_header}}

from typing import List, Dict
import unittest
import json
from xeger import Xeger
from {{modelPackage}} import *
import os
import pytest
from {{apiPackage}}.{{classFilename}} import {{classname}}  # noqa: E501
from {{packageName}} import (
    ApiClientFactory,
    ArgsConfigurationLoader
)


class {{#operations}}Test{{classname}}(unittest.IsolatedAsyncioTestCase):

    async def asyncSetUp(self) -> None:
        if "BASE_URL" in os.environ:
            api_url = os.environ["BASE_URL"]
        else:
            api_url = "http://localhost:5000"
        config_loaders = [
            ArgsConfigurationLoader(api_url=api_url, access_token="UNUSED")
        ]
        api_client_factory = ApiClientFactory(config_loaders=config_loaders)
        self.api = api_client_factory.build({{classname}}) # noqa: E501
        return await super().asyncSetUp()


    async def asyncTearDown(self) -> None:
        if self.api is not None:
            await self.api.api_client.close()
        return await super().asyncTearDown()


   {{#operation}}
    @pytest.mark.asyncio
    async def test_{{operationId}}(self) -> None:
        numRuns = 0
        numExamples = 1
        while numRuns < numExamples:
            numRuns += 1
            {{#allParams}}
            {{#vendorExtensions.x-regex}}
            minLength = {{#schema.minLength}}{{schema.minLength}}{{/schema.minLength}}{{^schema.minLength}}0{{/schema.minLength}}
            maxLength = {{#schema.maxLength}}{{schema.maxLength}}{{/schema.maxLength}}{{^schema.maxLength}}10{{/schema.maxLength}}
            # the following is necessary to avoid url becoming longer than acceptable length
            if maxLength > 50:
                maxLength = 50
            xegerObj = Xeger(limit=maxLength)
            count = 0
            while True:
                count += 1
                regex = r"{{{vendorExtensions.x-regex}}}"
                # The regex map is required due to a limitation of Xeger library where it fails 
                # correctly generate the string from the regex
                regex_map = {
                    r'^(?=.*[a-zA-Z])[\w][\w +-]{2,100}$': "official-portfolios-read-only",
                    r'^[a-zA-Z0-9\\+/]*={0,3}$': "L=="
                }

                {{paramName}}: {{{dataType}}} = xegerObj.xeger(r"{{{vendorExtensions.x-regex}}}")

                if regex in regex_map:
                    {{paramName}} = regex_map[regex]

                if len({{paramName}}) >= minLength:
                    break
                if count > 100:
                    raise Exception("unable to generate random value for parameter {{paramName}} which matches the constraints")
            {{/vendorExtensions.x-regex}}
            {{^vendorExtensions.x-regex}}
            {{#isPrimitiveType}}
            {{#isUuid}}
            # this parameter must follow the uuid syntax - make sure it doesn't contain invalid characters
            if "_" in {{{example}}}:
                {{paramName}}: {{{dataType}}} = "71beb2cb-be3a-4662-b8ee-e5ded63b957a"
            else:
                {{paramName}}: {{{dataType}}} = {{{example}}}
            {{/isUuid}}
            {{^isUuid}}
            {{paramName}}: {{{dataType}}} = {{{example}}}
            {{/isUuid}}
            {{/isPrimitiveType}}
            {{^isPrimitiveType}}
            {{#content}}
            spec_filepath = os.environ['OPENAPI_SPEC_PATH']
            with open(spec_filepath) as file:
                openapiSpecJson = file.read()
            
            method = "{{httpMethod}}".replace("Http", "").lower()
            jsonContent = json.loads(openapiSpecJson)
            jsonContent = jsonContent["paths"]["{{path}}"][method]["requestBody"]["content"]["application/json"]
            {{paramName}}: {{{dataType}}} = None
            if "example" in jsonContent:
                {{paramName}}: {{dataType}} = jsonContent["example"]
            elif "examples" in jsonContent:
                examples = jsonContent["examples"]
                examples = [examples[key] for key in examples]
                example = examples[numRuns - 1]
                {{paramName}}: {{dataType}} = example["value"]
                numExamples = len(examples)

            if hasattr({{dataType}}, 'from_dict') and callable(getattr({{dataType}}, 'from_dict')):
                {{paramName}} = {{dataType}}.from_dict({{paramName}})

            {{/content}}
            {{^content}}
            {{#isArray}}
            {{paramName}}: {{{dataType}}} = {{{example}}}{{/isArray}}
            {{^isArray}}
            {{paramName}}: {{{dataType}}} = json.loads("""{{{example}}}"""){{/isArray}}
            {{/content}}
            {{/isPrimitiveType}}
            {{/vendorExtensions.x-regex}}
            {{/allParams}}
            {{#returnType}}response = {{/returnType}}await self.api.{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}})
            {{#returnType}}
            assert(response is not None)
            {{/returnType}}

   {{/operation}}
{{/operations}}

if __name__ == '__main__':
    unittest.main()