The notification application provides notifications when LUSID events occur. Various types of notification can be configured, including email, SMS, webhook, Amazon SQS and Azure Service Bus notifications - see https://support.lusid.com/knowledgebase/article/KA-01817/ to learn more.