from __future__ import annotations
from {{packageName}}.extensions.configuration_loaders import (
    ConfigurationLoader,
    default_config_loaders,
)
from {{packageName}}.extensions.api_client_builder import build_client
from {{packageName}}.extensions.configuration_loaders import get_api_configuration
import logging
from typing import TypeVar, Type, Iterable

logger = logging.getLogger(__name__)

T = TypeVar("T")


class SyncApiClientFactory:
    def __init__(
        self,
        config_loaders: Iterable[ConfigurationLoader] = default_config_loaders,
        id_provider_response_handler=None,
        tcp_keep_alive=None,
        correlation_id=None,
        app_name=None
    ):
        api_config = get_api_configuration(config_loaders=config_loaders)
        self.__api_client = build_client(
            api_config,
            build_async_client=False,
            id_provider_response_handler=id_provider_response_handler,
            tcp_keep_alive=tcp_keep_alive,
            correlation_id=correlation_id,
            app_name=app_name
        )

    def __enter__(self):
        self.__api_client.__enter__()
        return self

    def __exit__(self, exc_type, exc_value, traceback):
        self.__api_client.__exit__(exc_type, exc_value, traceback)

    def build(
        self,
        metaclass: Type[T],
    ) -> T:
        return metaclass(self.__api_client)


class ApiClientFactory:
    def __init__(
        self,
        config_loaders: Iterable[ConfigurationLoader] = default_config_loaders,
        id_provider_response_handler=None,
        tcp_keep_alive=None,
        correlation_id=None,
        app_name=None
    ):
        api_config = get_api_configuration(config_loaders=config_loaders)
        self.__api_client = build_client(
            api_config,
            build_async_client=True,
            id_provider_response_handler=id_provider_response_handler,
            tcp_keep_alive=tcp_keep_alive,
            correlation_id=correlation_id,
            app_name=app_name
        )

    async def __aenter__(self):
        await self.__api_client.__aenter__()
        return self

    async def __aexit__(self, exc_type, exc_value, traceback):
        await self.__api_client.__aexit__(exc_type, exc_value, traceback)

    def build(
        self,
        metaclass: Type[T],
    ) -> T:
        return metaclass(self.__api_client)
